@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .hero-overlayshadow {
    grid-column-start: 1;
    grid-row-start: 1;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
  }
  /* ... */
}

@layer base {
    h1 {
      @apply text-2xl decoration-solid decoration-black;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
    a {
      @apply text-blue-600 underline;
    }
  }
/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* Define the animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the animation to an element */
.fade-in {
  animation: fadeIn ease-in 150ms;
}

/* Define the animation */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Apply the animation to an element */
.fade-out {
  animation: fadeOut ease-out 1s;
}


/* Define the animation */
@keyframes bump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadein-down {
  from {
    opacity: 0;
    transform: translateY(-3px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  
.fade-in-down{
  animation: fadein-down 0.35s ease-in;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}




